extends ./layout.jade

block homeNavItem
  li(class="active")
    a(href="/home") Home

block content
  h1 Welcome back, #{user.username}!

  div(class="row")
    div(class="col-md-1", style="text-align: center")
      img(src=user.avatarUrl)
    div(class="col-md-11")
      h4(style="margin-top: 0px") #{user.username}
      p(style="font-weight: bold") Level #{user.level} (#{user.title})
      div(class="progress")
        div(class="progress-bar progress-bar-warning", role="progressbar", aria-valuenow=user.experience, aria=valuemin="0", aria-valuemax=user.experienceForLevel, style="width: " + user.experiencePercentage + "%")
          span #{user.experience} / #{user.experienceForLevel} XP

  a(href=user.path) View your public profile

  div(class="row")
    div(class="col-md-6")
      h2 Quests
      if quests.length > 0
        each quest in quests
          div
            a(href=quest.path)= quest.title
            ul
              li
                | Reward: 
                | 
                span(class="label label-warning") #{quest.reward} XP
              li
                | Status:
                | 
                if quest.status === 'in progress'
                  span(class="label label-warning") In progress
                else if quest.status === 'done'
                  span(class="label label-success") Done
                else if quest.status === 'canceled'
                  span(class="label label-danger") Canceled
      else
        p You have not started any quests.
        p
          a(href="/quests") See available quests!

    div(class="col-md-6")
      h2 Quests You Own
      if ownedQuests.length > 0
        each quest in ownedQuests
          div
            a(href=quest.path)= quest.title
            ul
              li
                | Reward: 
                | 
                span(class="label label-warning") #{quest.reward} XP
              li
                | Status:
                | 
                if quest.status === 'in progress'
                  span(class="label label-warning") In progress
                else if quest.status === 'done'
                  span(class="label label-success") Done
                else if quest.status === 'canceled'
                  span(class="label label-danger") Canceled
      else
        p You are not the owner of any quests.
