extends ./layout.jade

block content
  h1 Quest: #{quest.title}
  a(href=owner.path)
    img(src=owner.avatarUrl)
  h4
    span Owner:
    | 
    a(href=owner.path) #{owner.username} (Level #{owner.level})
  ul
    li Location: #{quest.location}
    li
      | Reward:
      | 
      span(class="label label-warning") #{quest.reward} XP
    li
      | Status:
      | 
      if quest.status === 'in progress'
        span(class="label label-warning") In progress
      else if quest.status === 'done'
        span(class="label label-success") Done
      else if quest.status === 'canceled'
        span(class="label label-danger") Canceled
  h2 Description
  p= quest.description

  div(class="row")
    div(class="col-md-6")
      h2 Adventurers
      ul
        each user in quest.Users
          li
            div
              a(href=user.path)
                img(src=user.avatarUrl, style="padding-right: 10px")
              a(href=user.path) #{user.username} (Level #{user.level})
      if isUserInQuest
        a(class="btn btn-danger", href=quest.leavePath) Leave this quest
      else if user
        a(class="btn btn-primary", href=quest.joinPath) Join this quest

    if isUserOwner
      div(class="col-md-6")
        h2 Quest Owner Actions
        if quest.status === 'in progress'
          p
            a(class="btn btn-success", href=quest.completePath) Complete quest and reward adventurers
          p
            a(class="btn btn-danger", href=quest.cancelPath) Cancel quest
        else
          p No actions available.
