extends ./layout.jade

block content
  h1 Quest: #{quest.title}
  a(href=owner.path)
    img(src=owner.avatarUrl)
  h4
    span Owner:
    | 
    a(href=owner.path) #{owner.username} (Level #{owner.level})
  ul
    li Location: #{quest.location}
    li
      | Reward:
      | 
      span(class="label label-warning") #{quest.reward} XP
    li
      | Status:
      | 
      if quest.status === 'in progress'
        span(class="label label-warning") In progress
      else if quest.status === 'done'
        span(class="label label-success") Done
      else if quest.status === 'canceled'
        span(class="label label-danger") Canceled
  h2 Description
  p= quest.description

  h2 Adventurers
  ul
    each user in quest.Users
      li
        div
          a(href=user.path)
            img(src=user.avatarUrl, style="padding-right: 10px")
          a(href=user.path) #{user.username} (Level #{user.level})

  if isUserOwner && quest.status === 'in progress'
      a(href=quest.endPath) End quest and reward adventurers
