extends ./layout.jade

block content
  div(class="row")
    div(class="col-md-1", style="text-align: center")
      img(src=theUser.avatarUrl)
    div(class="col-md-11")
      h4(style="margin-top: 0px") #{theUser.username}
      p(style="font-weight: bold") Level #{theUser.level} (#{theUser.title})
      div(class="progress")
        div(class="progress-bar progress-bar-warning", role="progressbar", aria-valuenow=theUser.experience, aria=valuemin="0", aria-valuemax=theUser.experienceForLevel, style="width: " + theUser.experiencePercentage + "%")
          span #{theUser.experience} / #{theUser.experienceForLevel} XP
  ul
    li
      a(href=theUser.path + "/reward/50") [Admin] Give user 50 experience
    li
      a(href=theUser.path + "/reward/100") [Admin] Give user 100 experience

  div(class="row")
    div(class="col-md-6")
      h2 Quests
      if quests.length > 0
        each quest in quests
          div
            a(href=quest.path)= quest.title
            ul
              li
                | Reward: 
                | 
                span(class="label label-warning") #{quest.reward} XP
              li
                | Status:
                | 
                if quest.status === 'in progress'
                  span(class="label label-warning") In progress
                else if quest.status === 'done'
                  span(class="label label-success") Done
                else if quest.status === 'canceled'
                  span(class="label label-danger") Canceled
      else
        p #{theUser.username} has not started any quests.

    div(class="col-md-6")
      h2 Quests #{theUser.username} Owns
      if ownedQuests.length > 0
        each quest in ownedQuests
          div
            a(href=quest.path)= quest.title
            ul
              li
                | Reward: 
                | 
                span(class="label label-warning") #{quest.reward} XP
              li
                | Status:
                | 
                if quest.status === 'in progress'
                  span(class="label label-warning") In progress
                else if quest.status === 'done'
                  span(class="label label-success") Done
                else if quest.status === 'canceled'
                  span(class="label label-danger") Canceled
      else
        p #{theUser.username} is not the owner of any quests.
